.about-container {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  

  .about-header {
    background-color: #ffdcbc;
    padding: 20px 0;
  }
  
  .about-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    position: absolute;
    top: 20px;
    left: 20px;
    animation: fadeIn 1.2s ease-in-out;
  }
  
 
  .about-section {
    flex-grow: 1; 
     padding: 50px 20px;
  }
  
  .about-heading {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    animation: fadeIn 1.2s ease-in-out;
  }
  
  .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
  }
  
  .about-text {
    max-width: 900px;
    text-align: left;
    font-size: 1.8rem;
  }
  
  .highlight {
    color: black;
    font-weight: bold;
  }
  
  .learn-more-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #d0a4cc;
    color: black ;
    border-radius: 100px;
    text-decoration: none;
    border: 2px solid #000;
  }
  
  .about-image img {
    width: 500px;
    height: auto;
  }
  

  .team-section {
    background-color: #ffdcbc;
    padding: 40px 20px;
    margin-top: auto;
  }
  
  .team-heading {
    font-size: 28px;
    font-weight: bold;
  }
  
  .team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;
    margin-top: 20px;
  }
  
  .team-circle {
    width: 80px;
    height: 80px;
    background-color: #d0a4cc;
    border-radius: 50%;
    
  }
  

 